.header {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 30px;
  }
}

.subHeader {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.container {
  width: 100vh;
  max-width: 512px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 100px;
}

.box {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 43px 29px;
  text-align: center;
  min-height: 500px;
  overflow: auto;
  width: 100%;
  
  h2 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 50px;
  }
}

.miniText {
  margin-top: 30px;
  margin-bottom: 0 !important;
  font-size: 12px;
  line-height: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a, button {
    font-size: 16px;
    line-height: 20px;
    padding: 19px 36px;
  }
}

.button {
  background-color: #000;
  color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

.boxIcon {
  width: 150px;
  height: 150px;
  margin: 15px 0;
  object-fit: contain;
  object-position: center;
}

.steps {
  text-align: left;
  margin-bottom: 38px;
  margin-left: 24px;

  li {
    font-size: 18px;
    line-height: 30px;
  }
}

.iosIcons {
  margin-left: 5px;
  margin-right: 5px;

  img {
    margin-left: 2px;
  }
}

.alert {
  margin-top: 25px;
  font-weight: bold;
  color: red;
}

.footer {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
  }

  a {
    width: fit-content;
  }
}

.muted {
  font-weight: normal !important;
}